<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/cart.css" />
    <%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/nav') %>
    <div class="wrapper">
      <h1 style="color: white">구매내역</h1>

      <div class="clear"></div>
      <!-- items -->
      <div class="items">
        <!-- single item -->
        <ul class="cardss">
          <% cart.forEach((cart)=> { %>
          <li class="item">
            <!-- <div class="item"> -->
            <img
              src="<%= cart.img%>"
              alt="item"
              style="width: 240px; height: 180px"
            />
            <h2 class="cart__ptTitle"><%= cart.ptTitle %></h2>
            <p class="cart__category"><%= cart.category %></p>
            <button onclick="location.href='ptClass'">수업</button>
            <button onclick="location.href='chatting'">상담</button>
            <a href="<%= cart.mlUrl%>"
              ><button class="add-to-cart" type="button">AI</button></a
            >
            <!-- </div> -->
          </li>
          <% }) %>
        </ul>
        <!--/ single item -->
      </div>
      <!--/ items -->
    </div>
    <!--/ wrapper -->
  </body>
</html>
