<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/making.css">
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/nav') %>
    <h1>장바구니 페이지</h1>

    <ul class="cardss">
      <% cart.forEach((cart)=> { %>
        <li>
          <a href="<%= cart.mlUrl%>" class="cards">
            <img src="<%= cart.img%>" class="cards__image" alt="A3" />
            <div class="cards__overlay">
              <div class="cards__header">
                <img class="cards__thumb" src="/imgs/b3.png" alt="B3" />
                <div class="cards__header-text">
                  <h3 class="cards__title">
                    <%= cart.ptTitle %>
                  </h3>
                  <span class="cards__status">
                    <%= cart.category %>
                  </span>
                </div>
              </div>
            </div>
          </a>
        </li>
        <% }) %>
    </ul>
</body>

</html>